<a href="https://colab.research.google.com/github/anvitank/Study-of-Sets-and-Dictionary-in-Python/blob/main/Practical_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Study of Sets and Dictionaries in Python
##Name: Anvi Singh Tank
##PRN: 25070123019
##Batch: ENTC A1
## Expt 5

In [ ]:
# Creation of Set
stationary={"pencil","pen","scale"}
print(stationary)

{'pen', 'pencil', 'scale'}

In [ ]:
# Duplicates not allowed
stationary={"pencil","pen","scale","pen"}
print(stationary)

{'pen', 'pencil', 'scale'}

In [ ]:
# True and 1 are considered same
stationary={"pencil","pen","scale",True, 1, False, 0}
print(stationary)

{False, True, 'pencil', 'pen', 'scale'}

In [ ]:
# Set wiht strings, integers and boolean values
thisset={'anvi',38,False,18.8}
print(thisset)

{False, 'anvi', 18.8, 38}

In [ ]:
# Searching in Set
stationary={"pencil","pen","scale"}
print('pencil' in stationary)
print('eraser' in stationary)

True
False

In [ ]:
# Items in sets are not replaceable, but items can be added and deleted from them
stationary={"pencil","pen","scale","pen"}
stationary.add('eraser')
stationary.remove('pen')

print(stationary)

{'pencil', 'scale', 'eraser'}

In [ ]:
# Set operations
a={1,2,6,4}
b={5,4,7,6}

print('Union:', a|b)
print('Intersection:',a & b)
print('Difference:',a-b)
print('Symmetric Difference:', a^b)

Union: {1, 2, 4, 5, 6, 7}
Intersection: {4, 6}
Difference: {1, 2}
Symmetric Difference: {1, 2, 5, 7}

In [ ]:
# Frozen Set
f_s=frozenset({"pencil","pen","scale"})
print(f_s)
print(type(f_s))

frozenset({'pen', 'pencil', 'scale'})
<class 'frozenset'>

In [ ]:
# Adding and removing is not allowed in frozen set
f_s=frozenset({"pencil","pen","scale"})
f_s.add('eraser')
f_s.remove('pen')

print(f_s)

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
# Problem 1
student_names=['Aadi','Arddra','Apoorba','Srushti','Aadi','Rohan','Prek','Prek','Apoorba','Ansh','Ansh S']
unique_student=set(student_names)
print('The List of Students who have registered:')
print(unique_student)

The List of Students who have registered:
{'Srushti', 'Aadi', 'Arddra', 'Ansh S', 'Rohan', 'Apoorba', 'Ansh', 'Prek'}

In [ ]:
# Problem 2
anvi={'AMT','EDP','PES','EG','Cybersecurity'}
arya={'DEVC','EI','ERA','IAI','Cybersecurity'}
srushti={'LA','EEEE','ECSF','FMS','Cybersecurity'}

print('The common subject is',anvi&arya&srushti)

The common subject is {'Cybersecurity'}

In [ ]:
# Problem 3
cricket={'Aadi','Ansh','Arya','Apoorba','Rohan','Arddra'}
football={'Rohan','Arya','Srushti','Arddra','Prek'}
print('Both Clubs:',cricket & football)
print('Only one clubs:',cricket^football)

Both Clubs: {'Arddra', 'Arya', 'Rohan'}
Only one clubs: {'Apoorba', 'Prek', 'Srushti', 'Ansh', 'Aadi'}

In [34]:
# Problem 5
courses=['TS6001','FT0097','TC6007','EG003']
print('Total course',courses)
actual_courses=set(courses)
actual_courses.remove('EG003')
print('Actual Courses',actual_courses)

Total course ['TS6001', 'FT0097', 'TC6007', 'EG003']
Actual Courses {'TC6007', 'FT0097', 'TS6001'}

In [2]:
# Problem 4
all_students={'aadi','ansh','ansh s', 'apoorba','srushti','ananya','aditi'}
present_students={'aadi','ansh','apoorba'}
print('absent students are',all_students-present_students)

absent students are {'ansh s', 'aditi', 'srushti', 'ananya'}

## Dictionary

In [6]:
# Creation of Dictionary
thisdict={
    'company':'apple',
    'product':'iphone',
    'year': 2025
}
print(thisdict)

{'company': 'apple', 'product': 'iphone', 'year': 2025}

In [7]:
# Dictionary takes latest value given to key. It doesnt allow duplicates
thisdict={
    'company':'apple',
    'product':'iphone',
    'year': 2023,
    'year':2025
}
print(thisdict)

{'company': 'apple', 'product': 'iphone', 'year': 2025}

In [8]:
# Length of key-value pair
len(thisdict)

3

In [11]:
# Changing/ Adding key:value in dictionary
product={
    'company':'apple',
    'product':'iphone',
    'year': 2025
}
product['colour']='lavender'
x=product.values()
y=product.keys()
print(x)
print(y)

dict_values(['apple', 'iphone', 2025, 'lavender'])
dict_keys(['company', 'product', 'year', 'colour'])

In [12]:
customer={
    'name':'Ayush',
    'product':'Charger',
    'date':'30 jan'
}
print('Customer Name:',customer['name'])

Customer Name: Ayush

In [13]:
# Adding and Updating Elements
customer['product2']='Headphones'
customer['name']='Prek'
print(customer)

{'name': 'Prek', 'product': 'Charger', 'date': '30 jan', 'product2': 'Headphones'}

In [14]:
# Removing Elements
customer.pop('date')
print('updated details:',customer)

updated details: {'name': 'Prek', 'product': 'Charger', 'product2': 'Headphones'}

In [15]:
# Problem 1
products={
    'milk':25,
    'cereal':80,
    'bread':35,
    'cheese':30,
    'nutella':285,
    'chips':30
}
print('Original Price:',products)

products['nutella']=150
print('Updated Price',products)

Original Price: {'milk': 25, 'cereal': 80, 'bread': 35, 'cheese': 30, 'nutella': 285, 'chips': 30}
Updated Price {'milk': 25, 'cereal': 80, 'bread': 35, 'cheese': 30, 'nutella': 150, 'chips': 30}

In [21]:
# Problem 2
marks={
    'Aayushi':78,
    'Seerat':89,
    'Avani':76,
    'Kimaya':80
}
name=input('Enter student name:')
print(marks.get(name,'Student not found')) #works like if-else

Enter student name:ananya
Student not found

In [26]:
# Problem 3
logins={
    'emp1':'emp001',
    'emp2':'emp002',
    'emp3':'emp003',
    'emp4':'emp004'
}
user_id=input('Enter user id:')
if  user_id in logins.keys():
  password=input('Enter password:')
  if password==logins[user_id]:
    print('Access Granted')
else:
  print('User not found')

Enter user id:emp3
Enter password:emp003
Access Granted

In [31]:
# Problem 4
maths={
    'anvi':10,
    'rohan':9.5,
    'srushti':9,
    'arya':8,
    'keshav':4
}
topper=max(maths, key=maths.get)
print('The class topper is',topper)

The class topper is anvi